name: UploadLastRelease

on:
  workflow_dispatch:

jobs:
  update_version:
    name: Upload Last Release on PyPi
    runs-on: ubuntu-latest
    steps:
    - name: Download Wheels
      run: |
        mkdir wheels
        cd wheels
        wget $(curl -s https://api.github.com/repos/cnr-isti-vclab/pymeshlab/releases/latest | grep browser_download_url | cut -d '"' -f 4)
    - name: Upload on PyPi
      run: |
        sudo apt-get install -y twine
        cd wheels
        twine upload * -u ${{ secrets.TWINE_USER }} -p ${{ secrets.TWINE_PSSW }}
    
